.main-container {
  /* border: 2px solid blue; */
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.check-anwser-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.check-answer-button {
  width: 150px;
  height: 40px;
  margin-top: 10px;
}

.correct-answer-count {
  font-weight: bold;
}
